* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #dddddd;
}

.container {
	background-color: whitesmoke;
	width: 55%;
	margin: 50px auto;
	text-align: center;
	padding: 2% 2%;
	border: 1px solid #243363;
}

.container .header {
	width: 100%;
	height: 225px;
	background-color: #243363;
	color: #edf7f6;
	padding: 0 3%;
}

.container .header .logo {
	width: 100%;
	height: 60%;
}

.container .header h2 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	text-align: left;
	margin-top: 1%;
	font-weight: 900;
}

.container .header h3 {
	font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	text-align: left;
	margin-top: 2%;
	font-weight: 200;
}

.container .header .logo img {
	width: 70%;
	height: 100%;
}

.container .summary {
	width: 100%;
	padding: 10px 2px;
	background-color: #edf7f6;
	margin: 0px auto;
	padding: 3% 3%;
}

.container .summary > div {
	width: 100%;
	margin: 15px auto;
	padding: 15px;
	border-radius: 2px;
	border: 2px solid #ccc;
}

.container .summary > div h4 {
	font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-weight: 900;
	font-size: large;
	text-align: left;
	margin-left: 5%;
	margin-bottom: 1%;
}

.container .summary .total h1 {
	font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-weight: 900;
	text-align: left;
	margin-left: 5%;
	margin-bottom: 2%;
	margin: 1% 5%;
}

.container .summary .total p {
	font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	text-align: left;
	font-weight: 400;
	color: #808080;
	margin-left: 5%;
	margin-bottom: 1%;
	margin: 1% 5%;
	font-size: 0.8rem;
}

.container .summary .products ul {
	padding: 1%;
}

.container .summary .products ul li {
	list-style: none;
	display: flex;
	width: 100%;
	height: 80px;
	padding: 1%;
	border-bottom: 2px solid lightgray;
}

.container .summary .products ul li .pImage {
	width: 20%;
}

.container .summary .products ul li .pImage img {
	width: 70%;
	height: 70%;
	margin: auto;
	border-radius: 3px;
}

.container .summary .products ul li .pInfo {
	width: 60%;
	padding-top: 15px;
}

.container .summary .products ul li .pInfo .pName {
	margin-left: 5px;
}

.container .summary .products ul li .pInfo .pQty {
	text-align: left;
	margin-left: 5px;
	color: #808080;
}

.container .summary .products ul li .pPrice {
	width: 20%;
	padding-top: 25px;
}

.container .summary .products ul .pTotal {
	width: 100%;
	border-bottom: none;
	height: 30px;
}
.container .summary .products ul .pTotal h5 {
	width: 100%;
	text-align: right;
	padding-right: 4.5%;
}

.container .footer {
	font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	width: 100%;
	height: 100px;
	background-color: #243363;
	color: #edf7f6;
	padding: 35px 3%;
}
