@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/******************** Formulario Add y Update ******************/
z .title {
	color: #ef9635 !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: bolder !important;
	font-size: 1.3em !important;
	justify-content: center !important;
}
.cont {
	color: #243363 !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: bolder !important;
	font-size: 0.9em !important;
	text-align: center !important;
}
.cont .titles {
	width: 80px !important;
	text-align: right !important;
	margin-right: 5px !important;
}
.cont .inputs {
	width: 50% !important;
}
.buttons {
	display: flex !important;
	justify-content: center !important;
}
.buttonAdd {
	background-color: #243363 !important;
	border: 1px solid #243363 !important;
	width: 20% !important;
	color: white !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: bolder !important;
}
.buttonCancel {
	background-color: #4cced8 !important;
	border: 1px solid #4cced8 !important;
	width: 20% !important;
	color: white !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: bolder !important;
}
/******************** Table******************/
.table_prin {
	margin-top: 30px !important;
	margin-left: 50px !important;
	margin-right: 50px !important;
	min-height: 500px;
}

.tableTitle {
	color: #4cced8;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: bolder !important;
	text-align: center !important;
}
.tableDescrip {
	color: black;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: normal !important;
	font-size: 0.85em !important;
	text-align: center !important;
}
.tibleThDescrip {
	width: 60% !important;
}
.tableActions {
	width: 7% !important;
}
.icons {
	display: flex !important;
	justify-content: space-evenly;
}
.iconDelete {
	color: #4cced8 !important;
	cursor: pointer !important;
	font-size: 1.3em !important;
	border: none !important;
}
.iconUpdate {
	color: #243363 !important;
	cursor: pointer !important;
	font-size: 1.3em !important;
}

.buttonADD {
	background-color: #ef9635 !important;
	border: 1px solid #ef9635 !important;
	width: 10% !important;
	color: white !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: bolder !important;
	margin-left: 30px !important;
	margin-bottom: 30px !important;
	font-size: 0.9em;
}

.orderButton {
	background-color: #4cced8 !important;
	border: 1px solid #4cced8 !important;
	font-size: 16px !important;
}

.spanDelete {
	cursor: pointer;
	color: #ef9635;
	font-weight: bold;
}
.iconAdd {
	cursor: pointer;
	color: #243363;
}

.ulList {
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: center;
}

.liList {
	margin: 0 5px;
	background-color: #ef9635;
	color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 5px 10px;
}
@media (max-width: 1270px) {
	.buttonADD {
		font-size: 0.8em !important;
	}
}
@media (max-width: 1072px) {
	.buttonADD {
		font-size: 0.8em !important;
		width: 15% !important;
	}
}
@media (max-width: 570px) {
	.buttonADD {
		font-size: 0.8em !important;
		width: 30% !important;
	}
}
@media (max-width: 431px) {
	.buttonADD {
		font-size: 0.5em !important;
		width: 30% !important;
	}
}
