.title5{
    color: #3B8EA5;
    font-family:  'Open Sans', sans-serif !important;
    font-weight: bolder;
}
.title1{
    color:  #1F2333;
    font-family:  'Open Sans', sans-serif !important;
    font-weight: bolder;
    font-size: 30px;
}
.title2{
    color:  red;
    font-family:  'Open Sans', sans-serif !important;
    font-weight: bolder;
    font-size: 30px;

}