.icon {
	color: #f19953 !important;
	margin-left: 10px;
}
.cont {
	text-align: center;
}
.cont p {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: lighter !important;
}
.button {
	display: flex;
	justify-content: center;
}
.button .button1 {
	border: 1px solid #4cced8;
	background-color: #4cced8;
	color: #243363;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: bold !important;
	width: 30%;
}
.button .button1:hover {
	border: 1px solid #1f2335;
	background-color: #1f2335;
	color: white;
}

.button .button2 {
	border: 1px solid white;
	background-color: white;
	color: #4cced8;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: bold !important;
	width: 30%;
	margin-left: 5%;
}
.button .button2:hover {
	border: 1px solid #edf7f6;
	background-color: #edf7f6;
	color: #4cced8;
}
