.cont_print{
    max-width: 50% !important;    
}

.cont_print .cont_body{
    padding: 0px !important;
}

.cont_img{
    background-color: #f0f0f0;
    border-radius: 5px 0px 0px 5px !important;
}

.cont_img .imagen{
    width: 90% !important;
    margin:auto !important;
    margin-top: 80px !important;
    border-radius: 10px;
    text-align: center;
}
.cont_img .imagen img{
    width: 100% !important;
    border-radius: 10px;
    margin-bottom: 15px;
}
.cont_img .imagen h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #1F2333;
}
.cont_inf .info{
    width: 100% !important;
    /* height: 450px !important;  */
}
.input{
    width: 95% !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: none !important;
}
/* .header{
    background-color: red !important;
    
} */
.title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold !important;
    color: #1F2333;
    text-align: center;
}
.title2 {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold !important;
    color: #1F2333;
}
.title2 h6{
    font-weight: bold !important;
 
}
.recordar{
    display: flex;
    text-align: center;
    margin-top: 20px !important;
    /* background-color: violet; */
    
       
}
.recordar p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em !important;
    
}
/* .recordar .botons{
    display: flex;   
    background-color: salmon;
} */
.recordar .button{
    width: 10% !important;
   height: 25px !important;
   margin-left: 15px;
   padding: 1px;
   font-family: 'Open Sans', sans-serif;
    font-size: 0.7em !important;
    background-color: #3B8EA5 !important;
    border: 1px solid #3B8EA5 !important;
    color: white;
   
}
.addCom{
    /* background-color: wheat !important; */
    text-align: center !important;
    margin-top: 20px !important;
}
.button2{
    color:white !important;
    background-color:#F19953  !important;
    border: 1px solid #F19953 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
    width: 130px !important;
    height: 40px !important;
    font-size: 0.75em !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
    margin-bottom: 15px;
}
.button2:hover{
    color:#F19953 !important;
    background-color:white  !important;
    border: 1px solid #F19953 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
    width: 130px !important;
    height: 40px !important;
    font-size: 0.75 em !important;
    padding: 1px;   
}
.recordar .button:hover{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em !important;
    background-color: #1F2333 !important;
    border: 1px solid #1F2333 !important;
    color: white;

}
/* .strat{
    background-color: blueviolet;
} */