@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
	--azul: #243363;
	--celeste: #4cced8;
	--blanco: #edf7f6;
	--naranjo: #ffb86c;
	--gris: #e6e6e6;
	--negro: #000000;
}

.contPrincipal {
	width: 50%;
	max-width: 800px;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 32px;
	/* background-color: red; */
	text-align: center;
}

h5 {
	cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 18px;
}

h6 {
	font-family: 'Source Sans Pro', sans-serif;
	/* font-weight: lighter; */
	font-size: 14px;
}

.Pregunta {
	background-color: var(--celeste) !important;
}

.Respuesta {
	background-color: var(--blanco);
}

.containerSize {
	max-height: 600px;
}
