/* Import de fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */

/* Colores personalizados */
/* :root {
	--azul: #243363;
	--celeste: #4CCED8;
	--blanco: #edf7f6;
	--naranja: #ef9635;
} */

.modalContainer {
}

.cont {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif !important;
}

.modalTitle {
	font-size: 18px;
}

/* .contBotones {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

.button1 {
	border: 1px solid #4cced8;
	background-color: #4cced8;
	color: var(--azul);
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: bold !important;
}

.button1:hover {
	border: 1px solid #1f2335;
	background-color: #1f2335;
	color: white;
}

.button2 {
	width: 50%;
	font-family: 'Source Sans Pro', sans-serif !important;
	background-color: transparent;
	color: #4cced8;
	width: auto;
}

.button2:hover {
	background-color: transparent;
	color: #4cced8;
}
