/* Import de fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Colores personalizados */
:root {
	--azul: #1f2333;
	--celeste: #3b8ea5;
	--blanco: #edf7f6;
	--naranja: #f19953;
}

.navbar {
	height: 60px;
	font-family: 'Open Sans', sans-serif;
	background-color: var(--azul);
	box-shadow: 0px 2px 10px var(--azul);
}

.logo {
	height: 45px;
}

.navbarLinks {
	font-size: 14px;
	color: var(--celeste);
	transition: 300ms;
	text-align: center;
}

.navbarLinks:hover {
	color: var(--blanco);
}

.separador {
	border-right: 1px solid var(--celeste);
	/* height: 25px; */
}

.contenedorSearchInput {
	padding-top: 10px;
}

.searchInput {
	background-color: var(--blanco) !important;
	border: 1px solid var(--blanco) !important;
	border-top-left-radius: 100px !important;
	border-bottom-left-radius: 100px !important;
	height: 32px !important;
	font-size: 14px !important;
}

.contenedorLupa {
	/* !important para sobreescribir la clase 'input-group-text' de bootstrap */
	background-color: var(--celeste) !important;
	border: 1px solid var(--celeste) !important;
	border-top-right-radius: 100px !important;
	border-bottom-right-radius: 100px !important;
	height: 32px !important;
}

.searchIcon {
	color: var(--blanco);
	transition: 300ms;
}

.searchIcon:hover {
	color: var(--azul);
}

.userLoginIcon,
.shopCartIcon {
	color: var(--celeste);
	transition: 300ms;
}

.userLoginIcon:hover,
.shopCartIcon:hover {
	color: var(--blanco);
}

.contCart{
	position: relative;
	height: 100%;
}


.contCart  .shopCartIconSpan{
	margin-left: 5px;
	color: white;
	background-color: red;
	padding: 2px 5px;
	position: absolute;
	top: -12px;
	left: 6px;
	border-radius: 50%;
	font-size: 12px;
}
