/* Import de fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

/* Colores personalizados */
/* :root {
	--azul: #1f2333;
	--celeste: #3b8ea5;
	--blanco: #edf7f6;
	--naranja: #f19953;
} */

.productCard {
	width: 100%;
	background-color: var(--blanco);
	box-shadow: 1px 1px 5px black;
	transition: 300ms;
	padding: 10px;
	height: 95%;
	
}

.productCard:hover {
	box-shadow: 1px 1px 10px black;
}

.productCardHeadingContainer {
	height: 250px;
	/* border: 1px solid red; */
}

.productCardHeading {
	font-family: 'Open Sans', sans-serif;
	color: var(--blanco);
	font-size: 12px;
	font-style: italic;
	max-height: 25px;
	line-height: 25px;
	width: 70px;
	border-radius: 100px;
	background-color: var(--naranja);
}

.productCardShopCartIcon {
	margin-right: 20px !important;
	cursor: pointer;
	color: var(--azul);
	transition: 300ms;
}

.productCardShopCartIcon:hover {
	color: var(--celeste);
}

.productCardTitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: var(--azul);
}

.productCardDescription {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: var(--azul);
}

.productCardPrice {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: var(--celeste);
}

.productCardButton {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: var(--azul);
	border: none;	
	padding: 2px;
	margin-top: 30px;
	width: 90%;
	height: 30px;
}

.productCardButton:hover {
	background-color: var(--celeste);
}
.productCardButton2:hover {
	background-color: var(--celeste);
}
.icon{
	padding-top: 1%;
	color:#F19953;
	font-size: 0.8em;
}
.cont_prin{
	position: relative;
}
.buttons{
	opacity: 0;
	transition: all 0.3s ease-in-out;
	position: absolute;
	width: 100%;
	bottom: 160px;
	left: 15px;	
}
.cont_prin:hover .buttons{
	opacity: 1;
	
}
.productCardButton2{
	color:var(--azul);
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: var(--naranja);
	border: none;	
	padding: 2px;
	margin-top: 30px;
	width: 90%;
	height: 30px;

}
