/* Import de fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
/* 
Colores personalizados */
:root {
	--azul: #243363;
	--celeste: #4cced8;
	--blanco: #edf7f6;
	--naranja: #ef9635;
}

.productCard {
	width: 100%;
	height: 335px;
	background-color: #edf7f6;
	box-shadow: 0px 0px 5px 3px rgba(221, 220, 220, 1);
	transition: 300ms;
	padding: 10px;
	position: relative;
	overflow: hidden;
	flex-basis: content;
}
.runOut {
	background-color: #ef9635 !important;
	color: white;
	transform: rotate(45deg);
	position: absolute;
	padding: 5px;
	width: 100%;
	top: 10%;
	left: 30%;
	text-align: center;
}

.runOut > p {
	width: 90%;
	margin: auto;
	font-weight: bold;
	font-size: 1rem;
}
.productCard:hover {
	box-shadow: 1px 1px 10px black;
}

.productCardHeadingContainer {
	opacity: 0;
	width: 92%;
	height: 200px;
	background-color: rgba(59, 142, 165, 0.3);
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 10px;
}
.productCardHeadingContainer:hover {
	opacity: 1;
	transition: opacity 500ms;
}
.productCardDetailIcon:hover {
	color: white;
	transform: scale(1.2);
	transition: all ease-in-out 300ms;
}

.productCardHeadingContainer div {
	margin: auto;
}
.productCardDetailIcon {
	font-size: 70px;
	cursor: pointer;
	color: rgba(237, 247, 246, 0.7);
	transition: 300ms;
}

.productCardHeading {
	font-family: 'Source Sans Pro', sans-serif;
	color: var(--blanco);
	font-size: 12px;
	font-style: italic;
	max-height: 25px;
	line-height: 25px;
	width: 70px;
	border-radius: 100px;
	background-color: var(--naranja);
}

.productCardShopCartIcon {
	font-size: 1em;
	cursor: pointer;
	color: var(--azul);
	transition: 300ms;
	margin-top: 20%;
	margin-right: 20%;
}
.productCardButton2 div:nth-child(2) {
	width: 30%;
	height: 100%;
}

.productCardShopCartIcon:hover {
	color: var(--celeste);
}

.productCardTitle {
	height: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: var(--azul);
}

.productCardDescription {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	color: var(--azul);
}
.contPI {
	display: flex;
	width: 100%;
}
.cont_I {
	display: flex;
	padding-top: 3px;
	align-items: center;
	width: 50%;
	/* background-color: yellow; */
	position: relative;
}

.productCardPrice {
	width: 50%;
	/* background-color: violet; */
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: var(--celeste);
}

.productCardButton {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	background-color: var(--azul);
	border: none;
	padding: 2px;
	margin-top: 30px;
	width: 90%;
	height: 30px;
}

.productCardButton:hover {
	background-color: var(--celeste);
}

.productCardButton2:hover {
	background-color: var(--celeste);
}

.icon {
	width: 100%;
	padding-top: 1%;
	font-size: 1rem;
	display: flex;
}
.icon .emptyStars {
	width: 94px;
	color: lightgray;
}

.icon .fullStarsRate {
	margin-left: -94px;
	overflow: hidden;
}

.icon .fullStarsRate .fullStars {
	width: 94px;
	color: #ef9635;
}

.productCard .fixedRate {
	position: absolute;
	top: 77.5%;
	right: 13%;
}

.productCard .fixedRate h6 {
	font-size: 0.7rem;
}

.cont_prin {
	position: relative;
	padding: 0px !important;
}

.cont_prin:hover .buttons {
	opacity: 1;
}
.productCardButton2 {
	display: flex;
	background-color: var(--naranja);
	border: none;
	padding: 0px;
	width: 100%;
	height: 30px;
}
.productCardButton2 div:nth-child(1) {
	/* background-color: wheat; */
	width: 70%;
	height: 100%;
	padding-top: 5%;
	padding-left: 5%;
}

.productCardButton2 div:nth-child(1) .h6 {
	/* background-color: powderblue; */
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	color: var(--azul);
	font-style: normal !important;
}

.productRunOut {
	width: 100%;
	background-color: #c2c2c2;
	box-shadow: 1px 1px 5px black;
	transition: 300ms;
	padding: 10px;
	height: 95%;
	position: relative;
	overflow: hidden;
}
.productCardImg {
	width: 100%;
	height: 200px;
	border-radius: 5px;
}
.cont_stockButon {
	/* background-color: bisque; */
	text-align: center;
	width: 100%;
	height: 33px;
}
.productStockButton {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	background-color: var(--azul);
	border: none;
	padding: 2px;
	width: 60%;
	height: 30px;
}
