/* Import de fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* Colores personalizados */
/* :root {
	--azul: #243363;
	--celeste: #4CCED8;
	--blanco: #edf7f6;
	--naranja: #ef9635;
} */

* {
	box-sizing: border-box;
}

.productReviewCard {
	border: none !important;
	border-radius: 4px;
	/* margin-bottom: 30px !important; */
}
.productReviewHeader {
	width: 100%;
	display: flex;
}

@media (max-width: 768px) {
	.productReviewHeader div:nth-child(1) h3 {
		font-size: 1.5rem;
		text-align: center;
	}
	.productReviewHeader div:nth-child(2) {
		justify-content: center !important;
		align-items: center !important;
	}
}

@media (max-width: 428px) {
	.productReviewHeader div:nth-child(1) h3 {
		font-size: 1.1rem;
	}
	.productReviewHeader div:nth-child(2) h6 {
		font-size: 0.8rem !important;
	}
}

@media (max-width: 343px) {
	.productReviewHeader div:nth-child(1) h3 {
		font-size: 0.95rem;
	}
	.productReviewHeader div:nth-child(2) h6 {
		font-size: 0.8rem !important;
	}
}

.productReviewHeader div:nth-child(2) {
	width: 30%;
	display: flex;
	padding: 0;
	padding-top: 1%;
	justify-content: flex-end;
	align-items: flex-end;
}

.productReviewHeader div:nth-child(2) h6 {
	vertical-align: middle;
	color: var(--celeste);
	cursor: pointer;
	font-size: 1rem;
}
.productReviewHeader div:nth-child(2) h6:hover {
	text-decoration: underline;
}

.bordeRojo {
	border: none;
}
.icon {
	width: 50%;
	padding-top: 1%;
	font-size: 1rem;
	position: relative;
}
.icon .emptyStars {
	position: absolute;
	/* background-color: thistle; */
	font-size: 1em;
	width: 100%;
	color: lightgray;
	top: -500%;
	left: 131%;
	z-index: 1;
}

.icon .fullStarsRate {
	/* margin-left: -94px; */
	overflow: hidden;
	position: absolute;
	top: -500%;
	left: 131%;
	z-index: 2;
}

.icon .fullStarsRate .fullStars {
	width: 500%;
	font-size: 1em;
	/* width: 0%; */
	color: #ef9635;
}

.hr {
	padding: 0px;
	margin: 0px;
}

.openCloseIcon {
	color: var(--celeste);
	transition: 300ms;
}

.reviewInfo {
	/* border: 1px solid black; */
	width: 100%;
}

.likesReview {
	display: flex;
	justify-content: flex-end;
}

.openCloseIcon:hover {
	color: var(--azul);
}

.colResumenReviews {
	min-height: 125px;
}

.productPromedio {
	font-size: 50px;
	line-height: 50px;
}

.estrellaColor {
	color: var(--naranja);
	margin: 2px;
}

.estrellaInactiva {
	color: lightgrey;
	margin: 2px;
}

.cantOpinionesText {
	font-size: 14px;
	line-height: 14px;
}

.progressBar {
	height: 3px !important;
}

.progressBarText {
	font-size: 13px;
}

.opinionGeneralComentario {
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
}

.opinionDetalladaComentario {
	color: black;
	font-size: 14px;
	text-align: justify;
}

.iconLikes {
	color: var(--celeste);
}

.cantLikes {
	display: inline-block;
	padding-left: 10px;
	font-size: 14px;
}
